.men{
    background-size: cover;
    height: 25cm;
    background-image: url("https://img.freepik.com/premium-vector/cafeteria-menu-template_52683-58965.jpg?w=2000");
}
.tea{
    margin-top: 9cm;
    color: black;
    background-color: rgb(230, 229, 141);
    margin-right: 29.5cm;
    height: 1.5cm;
    width: 9cm;

}
.desart{
    margin-top: 1cm;
    color: black;
    background-color: rgb(252, 252, 190);
    margin-left: 26cm;
    height: 1.5cm;
    width: 9cm;
   
}
.pufs{
    color: black;
    background-color: rgb(228, 246, 141);
    margin-right: 29cm;
    height: 1.5cm;
    width: 9cm;
    margin-top: 10cm;
   
}