
.back2{
    background-image: url("https://www.cafecoffeeday.com/sites/default/files/R-SB23-Website%20Banner-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20cm;
}

 .menu2{
    text-align: center;
    
    font-style: initial;
    font-size:xx-large
    
    
 }   

.b1{
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsVAFZBXcNSsW7X-P6QoRcFyBcmak1IcC80Q&usqp=CAU");
background-size: cover;
    height: 5cm;
width: 5cm;
color: rgb(226, 230, 233);
border-radius: 3cm;
margin-left: 1cm;
margin-left: 2.5cm;


}
.c1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGfR3HORfPdGOciLqVFy1KWz9l_pjvqGSFJA&usqp=CAU");
    height: 5cm;
    color: rgb(225, 64, 11);
width: 5cm;
border-radius: 3cm;
margin-left: 2.5cm;


}
.d1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwKGW5VYGtjYpmapFE10E7xZZu3O8qx5UPRw&usqp=CAU");
    height: 5cm;
width: 5cm;
border-radius: 3cm;
margin-left: 2.5cm;

}
.e1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFWayY6eMH3mRc946bCwyQIbBh-6x_4LcWdQ&usqp=CAU");
        height: 5cm;
width: 5cm;
border-radius: 3cm;
margin-left: 2.5cm;

}
.f1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRavBw5sTL6uKpAMWKL56djZKpKsrtULHa0Iw&usqp=CAU");
        height: 5cm;
width: 5cm;
border-radius: 3cm;
margin-left: 2.5cm;
margin-top: 1cm;

}
.g2{
    font-style: italic;
    font-weight: 900;
    height: 1cm;
width: 5cm;
background-color: aliceblue;
border-radius: 1cm;
margin-left: 2.5cm;
margin-top: 1cm;
box-shadow: 10px 5px 5px rgb(230, 230, 10);
color:red;

}
.h2{
    font-style: italic;
    font-weight: 900;
    height: 1cm;
width: 5cm;
border-radius: 1cm;
margin-left: 2.5cm;
margin-top: 1cm;
background-color: aliceblue;
box-shadow: 10px 5px 5px yellow;
color:red;

}
.i2{
    font-style: italic;
    font-weight: 900;
    height: 1cm;
width: 5cm;
border-radius: 1cm;
margin-left: 2.5cm;
margin-top: 1cm;
background-color: aliceblue;
box-shadow: 10px 5px 5px yellow;
color:red;

}
.j2{
    font-style: italic;
    font-weight: 900;
    height: 1cm;
width: 5cm;
border-radius: 1cm;
margin-left: 2.5cm;
margin-top: 1cm;
background-color: aliceblue;
box-shadow: 10px 5px 5px yellow;
color:red;

}
.k2{
    font-style: italic;
    font-weight: 900;
    height: 1cm;
width: 5cm;
border-radius: 1cm;
margin-left: 2.5cm;
margin-top: 1cm;
background-color: aliceblue;
box-shadow: 10px 5px 5px yellow;
color:red;

}

.l1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-qyznxqznm_NAdojlm4c8CIGde0oJy1DyJ2pnhgaessaaH9bPtFX68b6ntfqMkaHceNk&usqp=CAU");
    background-size: cover;
height: 5cm;
width: 5cm;
border-radius: 3cm;
margin-left: 2.5cm;
margin-top: 2cm;


}
.m1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1I0WF4MWe243frmqGor5pBNIOBIXMHryzyg&usqp=CAU");
height: 5cm;
width: 5cm;
border-radius: 3cm;
margin-left: 2.5cm;
margin-top: 2cm;

}
.n1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXa-MTEyY4Uk59GsYYjFZZWqF_bZ8uPhOqQh3wu17Cgn5OTBbtrN3nDkp6lo0hR1cffzg&usqp=CAU");
height: 5cm;
width: 5cm;
border-radius: 3cm;
margin-left: 2.5cm;
margin-top: 2cm;

}
.o1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7HpAYcJ35RfaMfaL-C2ryXoUF-mLdnuO1mA&usqp=CAU");
height: 5cm;
width: 5cm;
border-radius: 3cm;
margin-left: 2.5cm;
margin-top: 2cm;

}
.p1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCUcbRpcAK7R2iKGcrz5J9vqjXW7RnTE-wiQ&usqp=CAU");
height: 5cm;
width: 5cm;
border-radius: 3cm;
margin-left: 2.5cm;
margin-top: 1cm;

}



.q2{
    font-style: italic;
    font-weight: 900;
    height: 1cm;
width: 5cm;
border-radius: 1cm;
margin-left: 2.5cm;
margin-top: 1cm;
background-color: aliceblue;
box-shadow: 10px 5px 5px yellow;
color:red;

}
.r2{
    font-style: italic;
    font-weight: 900;
    height: 1cm;
width: 5cm;
border-radius: 1cm;
margin-left: 2.5cm;
margin-top: 1cm;
background-color: aliceblue;
box-shadow: 10px 5px 5px yellow;
color:red;

}
.s2{
    font-style: italic;
    font-weight: 900;
    height: 1cm;
width: 5cm;
border-radius: 1cm;
margin-left: 2.5cm;
margin-top: 1cm;
background-color: aliceblue;
box-shadow: 10px 5px 5px yellow;
color:red;

}
.t2{
    font-style: italic;
    font-weight: 900;
    height: 1cm;
width: 5cm;
border-radius: 1cm;
margin-left: 2.5cm;
margin-top: 1cm;
background-color: aliceblue;
box-shadow: 10px 5px 5px yellow;
color:red;

}
.u2{
    font-style: italic;
    font-weight: 900;
    height: 1cm;
width: 5cm;
border-radius: 1cm;
margin-left: 2.5cm;
margin-top: 1cm;
background-color: aliceblue;
box-shadow: 10px 5px 5px yellow;
color:red;
}




